<div class="container message-container">
  <div class="row message-user"><%= user %></div>
  <a class="row message-row" href="/message/<%= id %>">
    <div class="col message-text"><%= text %></div>
    <div class="col message-date"><%= added %></div>
  </a>
</div>
