<div class="container message-container">
  <div class="row message-user"><%= user %></div>
  <div class="row message-row">
    <div class="col message-text"><%= text %></div>
    <div class="col message-date"><%= added %></div>
  </div>
</div>
